@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #ccc;
	color: #fff;
}

.container {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.calculator {
	height: 50vh;
	width: auto;
	padding: 1.2rem;
	border-radius: 10px;
	background-color: #071115;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	height: 30%;
	max-width: 300px;
	font-size: 2rem;
	padding: 0.5rem;
	margin-bottom: 3.5rem;
	overflow-y: scroll;
	word-break: break-all;
	word-wrap: break-word;
	border-bottom: 1px solid #ccc;
}

.previousValue {
	font-size: 1.2rem;
	/* margin-bottom: 2rem; */
}
.nextValue {
	font-size: 2rem;
}

#display::-webkit-scrollbar {
	display: none;
}

button {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	margin: 0.3rem;
	font-size: 1.2rem;
	cursor: pointer;
	text-align: center;
	border: none;
	transition: all 0.5s ease;
}

button:hover {
	transform: scale(1.1);
}

button#equal {
	width: 8.5rem;
	border-radius: 30px;
	box-shadow: none;
}

.calculator button#delete {
	background-color: #ffa69e;
	color: #ff0000;
}

.calculator button.btn-number {
	background-color: #c3eaff;
	color: #000000;
}

.calculator button.btn-operator,
.calculator button#clear {
	background-color: #149bdc;
	color: #fff;
}

.calculator button.btn-equal {
	background-color: #adf9e7;
	color: #000;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1280px) {
	.calculator {
		height: 80vh;
	}
	#display {
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 1050px) {
	.calculator {
		height: 50vh;
	}
}
@media screen and (max-width: 1024px) {
	.calculator {
		height: 90vh;
	}
	#display {
		margin-bottom: 2rem;
	}
	button {
		height: 3rem;
		width: 3rem;
	}
	button#equal {
		width: 6.7rem;
	}
}
@media screen and (max-width: 850px) {
	.calculator {
		height: 60vh;
	}
	#display {
		margin-bottom: 1.5rem;
	}
}
@media screen and (max-width: 540px) {
	.calculator {
		height: 90vh;
	}
	#display {
		margin-bottom: 2.5rem;
	}
}
@media screen and (max-width: 450px) {
	.calculator {
		max-height: 90vh;
	}
	#display {
		margin-bottom: 1.2rem;
	}
}
@media screen and (max-width: 415px) {
	.calculator {
		max-height: 70vh;
	}
	#display {
		margin-bottom: 1.5rem;
	}
}
@media screen and (max-width: 360px) {
	.calculator {
		max-height: 80vh;
	}
	#display {
		margin-bottom: 1.2rem;
	}
}
@media screen and (max-width: 280px) {
	.calculator {
		max-height: 80vh;
		padding: 1rem;
	}
	#display {
		margin-bottom: 2.5rem;
	}
	button {
		height: 3rem;
		width: 3rem;
	}
	button#equal {
		width: 6.7rem;
	}
}
